<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset-global.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-global.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-header.css')}}">
    <!-- Para referenciar arquivos estáticos (como arquivos CSS), a maneira correta no Flask é usar {{ url_for('static', filename='path/to/file') }} -->
    {% block additional_styles %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    {% block additional_scripts %}
    {% endblock %}

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Demoquerycy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto me-3">
                        <li class="nav-item">
                            <a class="nav-link " href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pagina-politicos">Lista dos políticos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="my-4">
        {% block content %}
        {% endblock %}
    </main>
</body>