{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
{% endblock %}

{% block content %}

<div class="py-4">

    <article class="container-xl card mt-5">
        <section class="container text-center my-4">
            <h2>O seu voto valeu a pena?</h2>
            <p class="py-1.5 rounded">
                O Demoquerycy tem como objetivo te dar acesso às informações mais relevantes sobre a atuação dos
                vereadores da nossa cidade.
                Com uma interface simples e intuitiva, você encontra tudo o que precisa saber sobre as ações, projetos e
                comportamento dos seus representantes.
            </p>
        </section>
    </article>

    <div class="container-fluid my-5">
        <h5 class="text-center">
            Clique em <span class="text-decoration-underline">Ver Mais</span> para conhecer o perfil dos vereadores
            de São José dos Campos
        </h5>
    </div>

    <div class="container-xl">
        <!-- Carousel -->
        <div id="politiciansCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for group in politicos|batch(4, '') %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="row g-4 justify-content-center">
                        {% for politico in group %}
                        {% if politico %}
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="card custom-card text-center shadow-sm">
                                <div class="custom-card-header">
                                    <div class="custom-card-overlay"></div>
                                    <div class="custom-card-img-wrapper">
                                        <img src="{{ politico.img }}" alt="Foto Vereador"
                                            class="rounded-circle custom-card-img">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ politico.nome[5:] }}</h5>
                                    <p class="card-text text-muted card-party">
                                        Partido: {{ politico.partido.split('(')[-1].replace(')', '') }}
                                    </p>
                                    <a href="/perfil/{{ politico.nome.replace(' ', '_').lower() }}"
                                        class="btn btn-dark">Ver Mais</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev custom-control" type="button" data-bs-target="#politiciansCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-control" type="button" data-bs-target="#politiciansCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}