<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header-style.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <span class="logo">Demoquerycy</span>
        <div class="hamburguer">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <div class="search-box">
                        <input type="text" placeholder="O que deseja procurar?"></input>
                        <span></span>
                    </div>
                </li>
                <li>
                    <a href="/">Políticos</a>
                </li>
                <li>
                    <a href="/">Partidos</a>
                </li>
                <li>
                    <a href="/">Sobre</a>
                </li>
            </ul>  
        </nav>
    </header>

    <main>
        <span class="titulo">
            <h1>Conheça alguns dos Vereadores de São José dos Campos</h1>
            <p><span class="clique-aqui">Clique aqui</span> ou no botão Políticos para ver mais</p>
        </span>
        <!-- Carrossel -->
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    
                    <!-- CARD TEMPLATE -->
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/amelia_naomi.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Amélia Naomi</h2>
                            <p class="descricao">Partido: PT</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <!-- CARD TEMPLATE -->

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/dulce_rita.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Dulce Rita</h2>
                            <p class="descricao">Partido: PSDB</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/fabiao_zagueiro.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Fabião Zagueiro</h2>
                            <p class="descricao">Partido: Solidariedade</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/fernando_petiti.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Fernando Petiti</h2>
                            <p class="descricao">Partido: MDB</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/juliana_fraga.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Juliana Fraga</h2>
                            <p class="descricao">Partido: PT</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/junior_farmacia.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Junior da Farmácia</h2>
                            <p class="descricao">Partido: União Brasil</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/juvenil_silverio.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Juvenil Silvério</h2>
                            <p class="descricao">Partido: União Brasil</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/lino_bispo.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Lino Bispo</h2>
                            <p class="descricao">Partido: PL</p>
                            <button class="button">Ver Mais </button>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="../static/img/marcao_academia.jpg" alt="imagem-card-político" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Marcão da Academia</h2>
                            <p class="descricao">Partido: PTB</p>
                            <button class="button">Ver Mais</button>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination "></div>
        </div>

    </main>
    <script src="../static/javascript/swiper-bundle.min.js"></script>
    <script src="../static/javascript/script.js"></script>
    <script src="../static/javascript/header-script.js"></script>
</body>
</html>