{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css')}}">
{% endblock %}

{% block content %}

<section class="container text-center"> 
    <h1> Quem te representa e como você foi representado no último mandato?</h1>
    <p class="container py-1 rounded">O Demoquerycy tem como objetivo te dar acesso às informações mais relevantes sobre a atuação dos vereadores da nossa cidade. 
    Com uma interface simples e intuitiva, você encontra tudo o que precisa saber sobre as ações, projetos e comportamento dos seus representantes.</p>
</section>

<div class="container-fluid my-3 p-2 shadow-sm">
    <h5 class="text-center fonte-header">
        Clique em <span class="text-decoration-underline">Ver Mais</span> para conhecer o perfil dos vereadores de São José dos Campos
    </h5>
</div>

<div class="container-fluid shadow-sm">
    <!-- Carrossel -->
    <div id="politiciansCarousel" class="carousel slide" data-bs-ride="carousel">

        <!-- Carousel Content -->
        <div class="carousel-inner">
            {% for group in politicos|batch(4, '') %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                <div class="row justify-content-center g-3">
                    {% for politico in group %}
                    {% if politico != '' %}
                     <div class="col-12 col-sm-6 col-md-6 col-lg-3"> <!-- Muda tamanho da coluna conforme tamanho da tela -->
                        <!-- Card -->
                        <div class="card custom-card text-center shadow-sm">
                            <!-- Imagem e Overlay -->
                            <div class="position-relative custom-card-header">
                                <div class="custom-card-overlay"></div>
                                <div class="custom-card-img-wrapper">
                                    <img src="{{ politico.img }}" alt="Foto Vereador"
                                        class="rounded-circle custom-card-img">
                                </div>
                            </div>
                            <!-- Conteúdo do Card -->
                            <div class="card-body">
                                <h5 class="card-title">{{ politico.nome[5:] }}</h5>
                                <p class="card-text text-muted card-party">Partido: {{
                                    politico.partido.split('(')[-1].replace(')', '') }}</p>
                                <a href="/perfil/{{ politico.nome.replace(' ', '_').lower() }}" class="btn btn-dark">Ver
                                    Mais</a>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Carousel Controls -->
        <button class="carousel-control-prev custom-control" type="button" data-bs-target="#politiciansCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next custom-control" type="button" data-bs-target="#politiciansCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}