<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemoQuerycy</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <!-- <img src="./" alt="Logo" class="logo"> -->
         <div class="logo">LOGO</div>
        <div class="sobre">Sobre</div>
    </header>
    <main>
        <div class="pesquisar">
            <form action="" class="barraDePesquisa">
                    <input type="text" placeholder="O que deseja procurar ?" name="" id="input-txt">
                    <button type="submit">
                        <img class="Search-icon" src="../static/images/search-icon.png">
                    </button>
                </div>
            </form>
        </div>
        

        <div class="cards-section">
            <div class="filter-wrapper">
                <span class="filtros-label">Filtros:</span>
                <div class="filter-section">
                    <div class="container-filtros">
                        <div class="filtro">
                            <input class ="btn" type="button" value="Partidos">
                        </div>
                        <div class="filtro">
                            <input class ="btn" type="button" value="Políticos">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wrapper">
                <div class="cards">
                    <!-- <img src="./" alt="imagem de vereador"> -->
                </div>
                <!--400x530  -->
                <div class="cards">
                    <!-- <img src="./" alt="imagem de vereador"> -->
                </div>
                <div class="cards">
                    <!-- <img src="./" alt="imagem de vereador"> -->
                </div>
                <div class="cards">
                    <!-- <img src="./" alt="imagem de vereador"> -->
                </div>
                <div class="cards"></div>
                    <!-- <img src="./" alt="imagem de vereador"> -->
                </div>
            </div>
        </div>

    </main>
    <footer><p>© Todos os direitos Reservados</p></footer>
    <script src="./src/javascript/index.js"></script>
</body>
</html>