{% extends "base.html" %}
{% block title %}Nome da página{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="../static/css/perfil.css">
<link rel="stylesheet" href="../static/css/reset-perfil.css">
{% endblock %}

{% block content %}
<section class="perfil">
    <img src="" alt="" class="image">
    <div class="card-infos">
        <div class="infos">
            <span id="nome">Ver. Milton Vieira Filho</span>
        </div>
        <div class="infos">
            Partido: <span id="partido">Republicanos</span>
        </div>
        <div class="infos">
            Nome Civil: <span id="nome-civil">Ricelli Martins Pinto</span>
        </div>
        <div class="infos">
            Idade: <span id="idade">41 anos</span>
        </div>
        <div class="infos">
            Formação: <span id="formacao">Ensino Superior Incompleto</span>
        </div>
        <div class="infos">
            Telefone: <span id="telefone">(12) 3925-6529</span>
        </div>
        <div class="infos">
            Profissão: <span id="profissao">Vereador</span>
        </div>
        <div class="infos">
            Mandato: <span id="mandato">2021-2024</span>
        </div>
</section>

<section class="sessoes">
    <div class="registro">
        <h3>Presença nas Sessões</h3>
        <p><span class="presente">Presente</span> em <span id="presenca">X</span>% das sessões</p>
        <p><span class="ausente">Ausente</span> em <span id="ausencia">X</span>% das sessões</p>
    </div>
    <div class="comparacao">
        <h3>Comparação:</h3>
        <p>Média de <span class="presente">presença</span> dos vereadores <span
                id="presencaVereadores">X</span>%</p>
        <p>Média de <span class="ausente">ausência</span> dos vereadores <span id="ausenciaVereadores">X</span>%
        </p>
    </div>
</section>


<section class="leis">
    <h3>Leis aprovadas neste mandato</h3>
    <table class="tabela-leis">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>LINK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>353/98</td>
                <td>Autoriza o Poder Executivo a substituição dos sinais sonoros...</td>
                <td><a href="#">HYPERLINK</a></td>
            </tr>
            <tr></tr>
            <td>XXX/XX</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente asperiores iste,
                quidem inventore magnam necessitatibus! Non odio aliquam molestias. Id nisi quia quasi dicta
                incidunt tempore facilis enim a.</td>
            <td><a href="#">HYPERLINK</a></td>
            </tr>
            <tr></tr>
            <td>XXX/XX</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quidem animi corrupti numquam!
                Dignissimos facere qui quas cumque. Blanditiis, reprehenderit recusandae aliquid quae et laborum
                molestiae magni laudantium similique nobis!</td>
            <td><a href="#">HYPERLINK</a></td>
            </tr>
        </tbody>
    </table>
</section>

<section class="comissoes">
    <h3>Comissões</h3>
    <p>Comissão: Cargo ----- Data</p>
    <p>Comissão: Cargo ----- Data</p>
    <p>Comissão: Cargo ----- Data</p>
</section>

<section class="comparacao-geral">
    <h3>Comparação Geral</h3>
    <div class="tabela-comparacao"></div>
</section>
{% endblock %}