{% extends "base.html" %}

{% block title %}
{{ perfil.nome }}

{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css')}}">
{% block additional_styles %}

{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='javascript/pagination.js') }}"></script>
{% endblock %}

{% block content %}
<section class="container-fluid py-4">
    <div class="row">
        <!-- Seção de informações pessoais -->
        <div class="col-md-3">
            <!-- Foto -->
            <div class="card mb-4">
                <div class="pt-4 px-4 rounded-top">
                    <img src="{{ perfil.img }}" alt="Foto do Político"
                        class="card-img-top rounded d-block mx-auto h-80 w-auto">
                </div>
                <div class="py-2 mt-4 mb-2 mx-2">
                    <h4 class="card-title text-center strong font-weight-bold">Informações Pessoais</h4>
                    <div class="card-body">
                        <!-- Informações pessoais em baixo da foto -->
                        <div></div>
                        <ul class="list-group mb-0">
                            <li class="list-group-item"><strong>Nome:</strong> {{ perfil.nome }}</li>
                            <li class="list-group-item"><strong>Nome Social:</strong> {{ perfil.nome_social }}</li>
                            <li class="list-group-item"><strong>Partido:</strong> {{ perfil.partido }}</li>
                            <li class="list-group-item"><strong>Data de Nascimento:</strong> {{ perfil.data_nasc }}</li>
                            <li class="list-group-item"><strong>Telefone:</strong> {{ perfil.telefone[0] }}</li>
                            <li class="list-group-item"><strong>Área Profissional:</strong> {{ perfil.ocupação }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Comissões -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-center">Comissões</h5>
                    <ul class="list-group">
                        {% for k in perfil.comissoes %}
                        <li class="list-group-item">
                            <strong>{{ k[0] }}:</strong> {{ k[1] }}<br>{{ k[2] }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Faltas e presenças -->
            <div class="card mb-4">
                <div class="card-body">
                    <ul class="list-group">
                        <h5 class="card-title text-center">Faltas/Presenças</h5>
                        <li class="list-group-item">
                            <p><strong>% de Presenças:</strong> {{ porcentagem_presenca }}</p>
                        </li>
                        <li class="list-group-item">
                            <p><strong>% de Faltas:</strong> {{ porcentagem_ausencia }} </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Seção principal -->
        <div class="col-md-9 mb-4">
            <!-- Proposições -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title text-center">Proposições</h4>
                    <div class="table-responsive mb-4" style="max-height: 382px; min-height: 382px; overflow-y: auto;">
                      <table class="table table-striped" id="projetos-table">
                          <thead class="sticky-top table-dark">
                              <tr>
                                  <th>Código</th>
                                  <th>Tema</th>
                                  <th>Descrição</th>
                                  <th>Data</th>
                                  <th>Situação</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for item in projetos_de_leis %}
                              <tr>
                                  <td>{{ item[0] ~ '/' ~ item[1] }}</td>
                                  <td>{{ item[2] }}</td>
                                  <td>{{ item[3] }}</td>
                                  <td>{{ item[4] | format_date }}</td>
                                  <td>{{ item[5] }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>

                </div>
            </div>
            <!-- Projetos de Leis -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title text-center">Projetos de Leis</h4>
                    <div class="table-responsive mb-4" style="max-height: 382px; min-height: 382px; overflow-y: auto;">
                        <table class="table table-striped" id="projetos-table">
                            <thead class="sticky-top table-dark">
                                <tr>
                                    <th>Código</th>
                                    <th>Tema</th>
                                    <th>Descrição</th>
                                    <th>Data</th>
                                    <th>Situação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in projetos_de_leis %}
                                <tr>
                                    <td>{{ item[0] ~ '/' ~ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                    <td>{{ item[4] | format_date }}</td>
                                    <td>{{ item[5] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- Histórico de Mandatos -->
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Histórico de Mandatos</h5>
                            <ul class="list-group">
                                {% for mandato in perfil.mandatos.split('\n') %}
                                <li class="list-group-item">{{ mandato }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</section>

<!-- Gráfico -->
<section class="container">
    <div class="card align-items-center">
        <div class="card-body">
            <h4 class="card-title text-center">Participação de cada tema de lei</h4>
            <img class="responsive w-80 h-80" src="data:image/png;base64,{{ grafico }}" alt="Gráfico de Temas">
        </div>
    </div>
</section>

{% endblock %}
