{% extends "base.html" %}


{% block additional_styles %}
<link rel="stylesheet" href="../static/css/politicos.css">
{% endblock %}

{% block content %}
<div class="card-grid">
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="amelia_naomi.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Amélia Naomi</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: PT</p>  
        <p class="descricao">Mandato: 2021 - 2024</p>
        <a href="perfil.html" class="btn">Ver Perfil</a>
      </div>
    </div>

    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
    <div class="card">
      <div class="image-content">
        <div class="card-image">
          <img src="foto-politico.jpg" alt="Foto do Político" class="card-img">
        </div>
        <h2 class="name">Maria Souza</h2>
      </div>
      <div class="card-content">
        <p class="descricao">Partido: ABC</p>
        <p class="descricao">Mandato: 2022 - 2026</p>
        <a href="#" class="btn">Ver Perfil</a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
