{% extends "base.html" %}

{% block title %}
Políticos
{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/politicos.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css')}}">
{% endblock %}

{% block content %}

<!--Barra de pesquisa-->
<div class="text-center my-5">
<h1>Placeholder</h1>
</div>

<!-- Cards -->
<div class="container my-4 cards-section shadow-lg layered-section">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-5">
        {% for politico in politicos %}
        <div class="col">
            <div class="card custom-card text-center shadow-lg">
                <!-- Imagem e Overlay -->
                <div class="position-relative custom-card-header">
                    <div class="custom-card-overlay"></div>
                    <div class="custom-card-img-wrapper">
                        <img src="{{ politico.img }}" alt="Foto Vereador" class="rounded-circle custom-card-img">
                    </div>
                </div>
                <!-- Conteúdo do Card -->
                <div class="card-body">
                    <h5 class="card-title">{{ politico.nome }}</h5>
                    <p class="card-text text-muted">Partido: {{ politico.partido.split('(')[-1].replace(')', '') }}</p>
                    <a href="/perfil/{{ politico.nome.replace(' ', '_').lower() }}" class="btn btn-dark">Ver Mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}