
/* --------------------------- CARROSSSEL ------------------------------- */
/* Posiciona o carrossel relativo ao elemento pai */
.carousel {
    position: relative;
}


/* Estilização dos botões de controle, posicionamento, tamanho e alinhamento com carrossel */
.custom-control {
    width: 30px; /* Largura */
    height: 30px; /* Comprimento */
    padding: 10px; /* Área clicável */
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Posiciona os botões de maneira absoluta na página */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste de posição */
    background-color: rgba(0, 0, 0, 0.500);
}

.carousel-control-prev {
    left: 3px; /* Ajuste da posição horizontal */
}

.carousel-control-next {
    right: 3px; /* Ajuste da posição horizontal */
}
/* --------------------------- FIM CARROSSSEL ---------------------------- */