html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    background-color: #f5f5f59d;
    min-height: 100vh;
}

.container-graficos {
    height: 100%;
    width: 100dvw;
}

.graficos {
    width: 80%;
}


/*foto e info básica */
.sidebar {
    width: 30%;
    background-color: #000000;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    min-height: 100vh;
    border-radius: 20px;
}

.sidebar .foto {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;


}

/* info-pessoal-sidebar */
.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
}

.card-body {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: start;
}

/* avaliação */
.avaliacao {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.avaliacao input {
    display: none;
}

.avaliacao label {
    font-size: 3rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.avaliacao label:hover,
.avaliacao label:hover~label {
    color: gold;
}

.avaliacao input:checked~label {
    color: gold;
}

.content {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-pessoal {
    margin: 15px 0 15px 0;
    border-bottom: 2px solid black;
}


.info-pessoal ul {
    text-align: center;
    list-style-type: none;
    padding: 10px 0 15px 0;
}

.info-pessoal h2 {
    text-align: center;

}

.info-pessoal li {
    margin-bottom: 10px;
    /* Adiciona um espaçamento entre os itens */
}



/* Seções dentro do conteúdo */
.info-pessoal,
.presenca,
.leis,
.comissoes {
    width: 100%;
}

.comissoes {
    text-align: center;
}

/* Estilo dos títulos */
h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

/* Presenças e Ausências */
#presença {
    color: green;
}

#faltas {
    color: red;
}

/* card presença */
.container-presença {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-presença {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    background-color: #c2c2c2bd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.card-body-presença {
    padding: 10px;
}

.card-body span {
    color: #2b2929;
    padding-left: 3px;
}

.card-title-presença {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.container-presença,
.card-presença,
.card-body-presença {
    width: 100%;
}

.row {
    margin-bottom: 10px;
}

.label {
    font-size: 1rem;
    font-weight: bold;

}

.value {
    font-size: 1rem;

}


/* Tabela de leis */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;

}

th {
    background-color: #000000;
    color: rgb(255, 255, 255);

}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.table-container {
    max-height: 300px;
    /* Define uma altura máxima */
    overflow-y: auto;
    /* Rolagem vertical se necessário */
    overflow-x: auto;
    /* Rolagem horizontal se necessário */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    margin-top: 15px;
}

/* Comissões */
.comissoes ul {
    list-style-type: none;
    font-weight: bold;
}

.comissoes ul li {
    padding: 5px 0;
}

h5 {
    margin-bottom: 10px;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

/* =-=-=-=-=-=-=-BARRA DE PESQUISA E CHECKBOX-=-=-=-=-=-=-=*/

.filtro-pesquisa {
    max-width: 400px;
    border: 2px solid black;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.barra-pesquisa:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.barra-pesquisa input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
}

.barra-pesquisa .botao-dropdown {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.temas-selecionados {
    margin-top: 10px;
}

.temas-selecionados div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.temas-selecionados input[type="checkbox"] {
    margin-right: 5px;
}


/* ================RESPONSIVE================= */

@media screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .container,
    .container> {
        width: 100%;
    }

    .sidebar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .card {
        margin: 0;
    }

    .sidebar .foto,
    .sidebar .info {
        width: 350px;
        height: 450px;
        margin: 5px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }

    .meetings {
        width: 100%;
        margin: 5px;
    }

    .content {
        width: 100%;
    }
}

@media screen and (max-width: 426px) {
    .info {
        width: 100%;
    }

    .sidebar .foto,
    .sidebar .info {
        width: 100%;
        height: 450px;
        margin: 5px;
    }

    .table-container h2 {
        width: 100%;
    }
}