
/* --------------------Header--------------------------- */

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "perfil sessoes sessoes sessoes"
        "perfil leis leis leis"
        "perfil comparacao-geral comparacao-geral comissoes";
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    width: 100%;
}

.logo, .sobre{
    margin: 15px;
}

/* --------------------Header--------------------------- */

section{
    background-color: lightslategrey;
}

.perfil{
    grid-area: perfil;
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/*--------------------IMAGEM------------------------*/

.image{
    height: 80%;
    width: 100%;
    border-radius: 25px;
    padding-bottom: 10px;
}
/*--------------------IMAGEM------------------------*/
.infos{
    font-weight: 800;
    padding: 1.5px;
}
#partido, #nome-civil, #idade, #formacao, #telefone, #profissao, #mandato{
    font-weight: 400;
}
.card-infos{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    
}
.card-infos div{
    width: 80%;
}


.sessoes{
    grid-area: sessoes;
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.presente{
    color: rgba(0, 255, 0, 0.611);
}

.ausente{
    color: rgba(188, 0, 0, 0.978);
}

/* --------------------Leis--------------------------- */
.leis {
    grid-area: leis;
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 10px;
}

.leis table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.leis table th, .leis table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.leis table a {
    color: #4682B4;
    text-decoration: none;
}

/* --------------------Leis--------------------------- */

.comissoes{
    grid-area: comissoes;
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 10px;
}

.comparacao-geral{
    grid-area: comparacao-geral;
    background-color: lightslategrey;
    padding: 20px;
    border-radius: 10px;
}